@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

#contact_info {
    border-width: 10px;
    border-color: rgb(250, 125, 0);
    width: 550px;
    height: 100px;
    align-items: center;
    border-style: double;
    text-align:left;
    padding-bottom: 1%;
    margin: auto;
    padding: auto;
    align-self: center;
    animation: gradient 1s infinite;
    border-radius: 10%;
}
@keyframes gradient {
    0% {
        border-color:brown;
        background-color: black;
    }
    50% {
        border-color:rgb(250, 125, 0);
        background-color:rgb(15,15,15);
    }
    100% {
        background-color:black;
        border-color:brown;
    }
}


body {
    background-color: black;
    color: wheat;
    text-align: center;
    font-family: Poppins-Regular;
}

#header {
    font-size: 82px;
    font-weight: bold;
    padding-top: 2.5%;
    font-family: Poppins-Bold;

}

p {
    padding-top: 2%;
    font-size: 14px;
}

#contact_h {
    font-size: 42px;
}