.topbar {
    background-color: #6c4b19;
    padding: 1%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    border-radius: 40px;
}

#header {
    text-shadow: #FC0 1px 0 10px;
}
@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-EL;
    src: url(fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(fonts/Poppins-Black.ttf);
}

body {
    background-color: black;
    color: wheat;
    text-align: center;
    font-family: Poppins-Regular;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline;
}

a {
    color: burlywood;
}

p {
    padding-top: 8%;
    font-size: 24px;
}

marquee {
    color: rgb(56, 56, 56);
    padding-bottom: .2%;
}

#small {
    font-size: 8px;
}