#floppa-header {
    font-size: 82px;
    font-weight: bold;
    padding-top: 2.5%;
    font-family: Poppins-Bold;
}

#cursor {
    font-size: 82px;
    font-weight: bold;
    padding-top: 2.5%;
    font-family: Poppins-EL;
}


#cursor {
    width: 20px;
    height: 20px;
    animation: fadeInOut .5s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
