
#header {
    font-size: 82px;
    font-weight: bold;
    padding-top: 2.5%;
    font-family: Poppins-Bold;

}


#tools {
    padding-left: 3%;
}

.cards {
    width: 250px;
    height: 250px;
    color: rgb(30, 30, 30);
    font-family: Poppins-Bold;
    border-radius: 5%;
    border-width: 4px;
    border-style: solid;
    padding: .5%;
    border-width: 1%;
    overflow: hidden;
    display: inline-block; 
    margin-right: 10px;
}

#description {
    color: rgb(30, 30, 30);
    font-size: 16px;
}

.cards h1{
    color: rgb(0, 0, 0);
    font-family: Poppins-Bold;
}

.apptool {
    border-color: rgb(150, 101, 16);
    background-color: rgb(150, 101, 16);
    box-shadow: rgb(150, 101, 16) 1px 0 10px;
}

.webtool {
    border-color: rgb(131, 18, 101);
    background-color: rgb(131, 18, 101);
    box-shadow: rgb(255, 0, 255) 1px 0 10px;
}

.limited {
    border-color: rgb(255,255,255);
    background-color: rgb(255,255,255);
    box-shadow: rgb(255,255,255) 1px 0 10px;
}

.limited h1 {
    color: rgb(255, 217, 0);
    text-shadow: gold 1px 0 3px;
    font-family: Poppins-Black;
}

#timeleft {
    color: gold;
    font-family: Poppins-Black;
}