@font-face {
    font-family: Poppins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    background-color: black;
    color: wheat;
    text-align: center;
    font-family: Poppins-Regular;
}

#header {
    font-size: 82px;
    font-weight: bold;
    padding-top: 2.5%;
    font-family: Poppins-Bold;

}

.topbar {
    background-color: #151515;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline;
}

a {
    color: burlywood;
}

p {
    padding-top: 8%;
    font-size: 24px;
}

marquee {
    color: rgb(56, 56, 56);
    padding-bottom: .2%;
}
#tools {
    padding-left: 3%;
}

#card {
    width: 300px;
    height: 300px;
    background-color: rgb(182, 139, 0);
    color: rgb(30, 30, 30);
    border-radius: 5%;
    padding: 1%;
    border-width: 1%;
    border-color: wheat;
    display: inline-block; 
    margin-right: 10px;
}

#description{
    color: rgb(30, 30, 30);
    font-size: 16px;
}
#card h2{
    color: rgb(0, 0, 0);
    font-family: Poppins-Bold;
}
